/*
*/
body {
    background: #000;
    min-height: 0;
    font-family: 'Open Sans', sans-serif;
    padding-top: 67px;
}


.row { margin: 0; padding: 0 }

.navbar{
    background-color: #171717;
    margin-bottom:0;
    min-height: 78px;
}

.logo{
    width:200px;
    margin-top:0px;
}

.menu-items li a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.menu-items li a:hover div.menu-underline{
    width:100%;
}

.link{
    color: #171717 !important;
    text-decoration: underline;
}

.link:hover{
    opacity: 0.8;
}

div.menu-underline{
    display: block;
    height:4px;
    width:0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

#menu-main a{
    font-family: Arial, Helvetica, sans-serif;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

.social-media{
    text-align:center;
    padding:40px 0 0 0;
}

.social-media-opacity{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.social-media-opacity:hover{
    opacity: 1;
    filter: alpha(opacity=99);
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}


/* Modify Bootrstrap Menu*/

.navbar-nav > li > a{
    line-height: 27px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #b4b4b4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-top: 24px;
    padding-bottom: 15px;
}

.navbar-inverse{
    background-image: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #171717;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>.active>a {
    background-image: none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-inverse .navbar-toggle{
    margin-top: 23px;
    background: none;
    border-color: #171717;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: none;
}   

/*END MENU*/

.entry-title{
    font-family: Arial, Helvetica, san-serif;
    color:#999;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color:#aaa;
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
}

.nopadding{
    margin:0 !important;
    padding:0 !important;
}

/* TYPOGRAPHY */

h1 {
    color:white;
    font-weight:900;
    font-size:4em;
}

h2 {
    color:white;
    font-weight:200;
    font-size:1.8em;
    line-height: 1.5;
}

h5 {
    color:white;
    font-weight:200;
}

.bio {
    color:white;
    font-size:1.1em;
    font-weight:100;
    line-height: 1.8;
}

.white {
    color:white;
}

.title {
    color:white;
    font-weight:800;
    font-size:3em;
}
/* END TYPOGRAPHY */


/* PORTFOLIO WORK */

.piece {
    height:100%;
    width:100%;
    left:0;
    top:0;
    position:absolute;
    z-index:1;
}


a:hover + recipe image{
    opacity:0.5;
}


a:hover + .hovertext {
    display:block;
    border:none;
    height:30px;
    width:150px;
    position:absolute;
    font-color:black;
    text-align:center;
    font-family: 'Exo 2', sans-serif;
}

.hovertext {
    display:none;
    border:none;
    height:30px;
    width:150px;
    position:absolute;
    color:black;
    font-size:20px;
    text-align:center;
    top:220px;
    left:25px;
    right:20px;
    line-height:110%;
    font-family: 'Exo 2', sans-serif;
    font-weight:300;
    font-size:11pt;
}

/* END PORTFOLIO WORK */


@media(min-width:1440px){
    
}

@media(min-width:992px){


}

@media(min-width:768px){

    .menu-items{
        float:right !important;
    }

}

@media(max-width:767px){

    body{
        padding-top: 66px !important;
    }

    .menu-items{
        text-align: center;
    }

    .logo{
        width:150px;
        margin-top:7px;
    }

    .logo-about{
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    /*.menu-underline{
        display: none;
    }*/

 


